@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-dark: #1d4624;
  --theme-light: #71b64b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-theme-dark: var(--theme-dark);
  --color-theme-light: var(--theme-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --theme-dark: #71b64b;
    --theme-light: #1d4624;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.my-container{
  @apply container mx-auto px-10
}
